@charset "UTF-8";
/* CSS Document */

/* ========= TOC ==========================================*/   
/* ========= 1. Typography ===============================*/
/* ========= 1.1 Body ===================================*/
/* ========= 1.2 Headings ==============================*/
/* ========= 2. Navigation Menu =======================*/
/* ========= 3. Structure ============================*/
/* ========= 3.1 Site Padding and Margin ============*/
/* ========= 4. Media ==============================*/
/* ========= 5. Utility ===========================*/
/* ========= 5.1 Colors ==========================*/
/* ========= 5.2 Floats =========================*/
/* ========= 5.3 Positions =====================*/
/* ========= 5.4 Displays =====================*/
/* ========= 5.5 Alignments ==================*/
/* ========= 6. Media Queries ===============*/

/* ========= 1. Typography ============*/
h2, footer p {
	font-weight:lighter;
}

h1, h2, a, footer p {
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
}

/* ========= 1.1 Body ============*/
body {
	color:#b29150;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

footer p {
	font-size: 12px;
}

/* ========= 1.2 Headings ============*/
h1 {
	font-size: 40px;
    font-weight: bold;
    line-height: 45px;
}

h2 {
	font-size:36px;
}

/* ========= 2. Navigation Menu ============*/
li {
	list-style-type: none;
}

/* ========= 3. Structure ============*/
.logo, img, #contact, .button, .c-links {
	width:100%;
}

.logo {
	height:100%;
}

.c-links img {
	max-width:inherit;
}

/* ========= 3.1 Site Padding and Margin ============*/
.menu li a {
    padding: 0.7rem 1.3rem;
}

.column, .columns {
	padding: 2px;
}

#about {
    padding: 40px;
    padding-right: 100px;
}

#about-contact {
	padding: 67px;
}

footer nav ul li {
	padding: 0 10px;
}

h1, p {
	margin-top: 10px;
}

footer nav ul, .logo, .button {
	margin: 0 auto;
}

footer {
	margin-top: 25px;
}

/* ========= 4. Media ============*/
.c-links {
  overflow: hidden;
}


.c-links__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8%;
}

.c-links__item {
  width: 33.333%;
  -webkit-transform: skew(-20deg);
          transform: skew(-20deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.c-links__item:not(:last-of-type) {
  border-right: 4px solid transparent;
}

.work-hover:hover, .c-links__img:hover {
  opacity: 0.5;
}

.c-links__img {
  width: 138%;
  margin-left: 50%;
  -webkit-transform: skew(20deg) translate(-50%);
          transform: skew(20deg) translate(-50%);
}

/* ========= 5. Utility ============*/
/* ========= 5.1 Colors ============*/
body {
	background: #14000c; 
}

.button {
    background: #ec008c;
	color: #14000c;
}

.button:hover {
	background:#3b0023;
}

h1, a, .button:hover {
	color:#ec008c;
}

h2, a:hover {
	color:#af106b;
}

.top-bar, .top-bar ul {
	background-color: transparent;
}

/* ========= 5.2 Floats ============*/
#button-right {
	float: right;
}

/* ========= 5.3 Positions ============*/
#bio-photo, #contact {
	position: relative;
}

#bio-photo {
    z-index: 1;
}

#contact {
    top: -45px;
    z-index: 0;
}

/* ========= 5.4 Displays ============*/
.logo, .c-links__img {
	display: block;
}

footer li {
	display:inline-block;
}

/* ========= 5.5 Alignments ============*/
#button-left {
	text-align: left;
}

.button, #button-right {
	text-align: right;
}

.center, footer nav ul {
	text-align: center;
}

/* ========= 6. Media Queries ============*/

/* Small only */
@media screen and (max-width: 39.9375em) {
	.logo {max-width:60%; margin: 0 auto;}
	
	a .button {margin-top:75px;}
	
	.top-bar-right {margin-left: 10px;}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.logo {max-width:300px;}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	a .button {margin-top:75px;}
}

/* Large and up */
@media screen and (min-width: 64em) {
	.logo {max-width:250px;}
}